input[type="range"].uxpact-slider {
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(90deg, #14D571 0%, #148C59 50%, #5B61F4 100%);
  border-radius: 3px;
  height: 6px;
  width: 100%;
  outline: none;
  cursor: pointer;
  margin: 0;
}
input[type="range"].uxpact-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  border: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.18);
  cursor: pointer;
  margin-top: -7px;
}
input[type="range"].uxpact-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  border: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.18);
  cursor: pointer;
}
input[type="range"].uxpact-slider::-webkit-slider-runnable-track {
  height: 6px !important;
  border-radius: 3px;
  background: linear-gradient(90deg, #14D571 0%, #148C59 50%, #5B61F4 100%) !important;
}
input[type="range"].uxpact-slider::-moz-range-track {
  height: 6px !important;
  border-radius: 3px;
  background: linear-gradient(90deg, #14D571 0%, #148C59 50%, #5B61F4 100%) !important;
}
